# ignore point cloud data
plant_point_cloud/data/

# python bytecode cache
__pycache__/
*.py[codz]
*$py.class

# pyCharm and co
.idea/
.vscode/
cython_debug/


# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# UV
uv.lock

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
.ruff_cache

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Mac/OSX
.DS_Store
